snippet html "Base do corpo do Html"
<!DOCTYPE html>
<html lang="pt-br">
    <head>
	<meta charset="utf-8">
	<meta http-equi="X-UA-Compatible" content="IE-edge">
	<title></title>
	<link rel="stylesheet" media="screen" href=""/>
	<meta nome="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
	<$1>
	<h1></h1>
	</$1>
    </body>
</html>
endsnippet


